* {
    box-sizing: border-box;
}

body, html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%
}

.container {
    max-width: 120rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}

.row {
    display: flex;
    align-items: center;
}

.row--base {
    display: flex;
    align-items: flex-start;
}

a {
    text-decoration: none;
}

.btn {
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: 1.5px;
    color: #1B8BCC;
    padding: 1.5rem 3rem;
    background-color: #fff;
    border-radius: 4rem;
    border: 0;
    cursor: pointer;
    transition: all 0.3s linear;
}

 .btn:hover {
    background-color: #1B8BCC;
    color: #fff;
}

 .btn:focus {
    outline: none;
}

/* ------------------------------------HEADER-------------------------------- */

header {
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0px 0px 20px rgba(0,0,0, 0.2);
    position: static;
    width: 100%;
    z-index: 10;
}

.header-content {
    background: #fff;
}

.header-left, .header-right {
    width: 25%;
}

.header-mid {
    width: 50%;
}

.header-mid .btn-search {
    opacity: 0;
    visibility: hidden;
    cursor: default;
}

.categories {
    margin-left: 1.5rem;
    font-size: 1.4rem;
    padding: 1rem;
    color: #666666;
    position: relative;
    cursor: pointer;
}

.categories::after {
    content: "";
    width: 10rem;
    height: 6rem;
    background: transparent;

    position: absolute;
    top: 1rem;
    left: 0;
}

.categories-content {
    width: 117rem;
    padding: 3rem 1.5rem 1.5rem;
    background-color: #fff;
    box-shadow: 0 10px 15px rgba(0,0,0, 0.1);

    position: absolute;
    top: 4.5rem;
    left: -19.5rem;
    z-index: 10;
    
    align-items: flex-start;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s linear;
    cursor: default;
}

.categories:hover .categories-content{
    top: 5.5rem;

    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.categories-item {
    width: 25%;
}

.categories-item h5 {
    font-size: 1.8rem;
    font-weight: 400;
    color: #666666;
    margin-bottom: 1.5rem;
}

.categories-item li a {
    display: inline-block;
    text-decoration: none;
    color: #666666;
    font-weight: 300;
    font-size: 1.5rem;
    padding: 1rem 0;
    transition: color 0.3s linear;
    cursor: pointer;
}

.categories-item li a:hover {
    color: #1B8BCC;
}

.header-search {
    margin: 0 auto;
    width: 90%;
    padding: 1.3rem 1.5rem;
    background: #fff;
    border: 0.5px solid #B9B9B9;
    border-radius : 2.5rem;
}

.header-search i {
    font-size: 1.8rem;
    color: #755050;
    margin-right: 1.5rem;
}

.header-search input {
    width: 90%;
    border: none;
    font-size: 1.4rem;
    font-weight: 300;
    color: #666666;
}

.header-search input::placeholder {
    font-size: 1.4rem;
    font-weight: 300;
    color: #666666;
}

.header-search input:focus {
    outline: none;
}

.header-right {
    text-align: right;
}

.header-right i {
    font-size: 2rem;
    color: #666;
    cursor: pointer;
    margin-right: 3rem;
}


/* ---------------------------------------CAROUSEL--------------------------------- */

.carousel-item {
    background-size: cover;
}

.carousel-item-1 {
    background-image: url(../img/slider-1_aca44fb2-95e2-43ce-b840-ac3c62a0bf9c_1170x.jpg);
}
.carousel-item-2 {
    background-image: url(../img/slider-2_a1cfffda-74bb-4ecc-8b71-8a17a0e7a20f_1170x.webp);
}

.carousel-content {
    padding: 11.5rem 0;
    width: 40%;
    margin-left: auto;
}

.carousel-content > span {
    display: inline-block;
    font-size: 2.5rem;
    font-weight: 300;
    color: #1B8BCC;
    padding-bottom: 3rem;
}

.carousel-content p {
    font-size: 5rem;
    padding-bottom: 3rem;
}

.carousel-content p > span {
    color: #1B8BCC;
}

.carousel-content .deal {
    display: inline-block;
    margin-top: 2rem;
    cursor: pointer;

    font-size: 2.2rem;
    font-weight: 300;
    letter-spacing: 1px;
    color: #fff;

    padding: 2rem 5rem;
    border-radius: 5rem;
    background: #1B8BCC;
}

/* ----CUSTOM SLICK SLIDER--- */
.slick-slider.slick-dotted {
    margin-bottom: 0;
}

.slick-list {
    z-index: -1;
}

.slick-dots {
    bottom: 1rem;
}

.slick-dots li button { 
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: rgb(27, 139, 204, 0.4);
    transition: background-color 0.3s linear;
}

.slick-dots li.slick-active button { 
    background-color: #1B8BCC;
}

.slick-dots li button::before{
    font-size: 0;
}

.slick-next, .slick-prev {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #fff;

    text-align: center;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s linear, visibility 0.3s linear;
}

.slick-prev:hover, .slick-next:hover {
    background-color: #fff;
    box-shadow: 0 0 7px rgba(0,0,0, 0.1);
}

.slick-next i, .slick-prev i {
    font-size: 2rem;
    color: #1B8BCC;
    line-height: 5rem;
    
}

.slick-prev i {
    margin-right: 3px;
}

.slick-next {
    right: 2rem;
}
.slick-prev {
    left: 2rem;
}

.slick-next::before, .slick-prev::before {
    display: none;
}

.carousel-slider:hover .slick-next, .carousel-slider:hover .slick-prev{
    opacity: 1;
    visibility: visible;
}


/* --------------------------------ADVANTAGES---------------------- */
.advantages {
    background-color: #F8F8F8;
    box-shadow: 0 2px 20px rgba(0,0,0, 0.2);
}

.advantages-item {
    width: 25%;
    border-right: 0.5px solid #E1E1E1;
    padding: 4rem 1.5rem;
}

.advantages-item:last-child {
    border-right: 0;
}

.advantages-desc {
    margin-left: 2.5rem;
}

.advantages-desc h5 {
    font-size: 1.8rem;
    color: #1B8BCC;
    margin-bottom: 1rem;
}

.advantages-desc p {
    font-size: 1.3rem;
    letter-spacing: 1px;
    color: #1B8BCC;
    font-weight: 300;
}

/* ------------------------------------BEST-SELLER-------------------------- */
.best-sell {
    padding: 8rem 0;
}

.best-sell-header {
    justify-content: space-between;
    margin-bottom: 3rem;
}

.best-sell-header h3 {
    font-size: 2.4rem;
    font-weight: normal;
    color: #666666;
}

.best-sell-header a {
    text-decoration: none;
    font-size: 1.6rem;
    color: #1B8BCC;
    cursor: pointer;
    transition: all 0.3s linear;
}

.best-sell-header a:hover {
    color: #666666;
}

.best-sell-list {
    margin: 0 -0.5rem;
    position: relative;
    z-index: 0;
}

.best-sell-list.slick-slider .slick-track{
    padding: 0.5rem;
}

.best-sell-item {
    display: block;
    width: 17rem;
    position: relative;
    padding-bottom: 1rem;
    margin: 0 1rem;
    z-index: 1;
}

.discount-container {
    position: absolute;
    top: -6px;
    left: -6px;

    width: 12rem;
    height: 12rem;

    overflow: hidden;
}

.discount {
    position: absolute;
    top: 1.6rem;
    left: -2.3rem;

    width: 100%;
    padding: 0.5rem 0;
    text-align: center;

    font-size: 1.6rem;
    color: white;
    background-color: #1B8BCC;

    transform: rotate(-40deg);
}

.discount-container::after {
    content: "";
    position: absolute;
    top: 73px;
    left: 1px;
    border-width: 5px 5px;
    border-color: transparent transparent #276d99 transparent;
    border-style: solid;
    transform: rotate(139deg);
}

.discount-container::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 85px;
    border-width: 8px 7px;
    border-color: transparent transparent #276d99 transparent;
    border-style: solid;
    transform: rotate(132deg);
}

.best-sell-item img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 1.5rem;
}

.book-name {
    font-size: 2rem;
    font-weight: 300;
    color: #666666;
    margin-bottom: 1.5rem;
}

.book-price {
    font-size: 1.8rem;
    color: #666666;
}

.add-to-cart, .quick-view {
    background-color: #1B8BCC;
    width: 4rem;
    height: 4rem;
    border: 0;
    border-radius: 50%;
    color: #fff;

    opacity: 0;
    visibility: hidden;

    position: absolute;
    right: -2rem;

    transition: all 0.4s linear;
    cursor: pointer;
}

.add-to-cart {
    top: 2rem;
}

.quick-view {
    top: 7.5rem;
}

.tooltip  {
    min-width: 9rem;
    background-color: #fff;
    font-size: 1.3rem;
    color: #666666;
    border: 0.5px solid #B9B9B9;
    padding: 0.5rem;

    position: absolute;
    top: 2rem;
    left: -9rem;
    z-index: 10;

    opacity: 0;
    visibility: hidden;
    transition: all 0.2s linear;
}

.quick-view:hover .tooltip, .add-to-cart:hover .tooltip {
    opacity: 1;
    visibility: visible;
}

.best-sell-item:hover {
    box-shadow: 0 2px 20px rgba(27, 139, 204, 0.2);
}

.best-sell-item:hover .add-to-cart, .best-sell-item:hover .quick-view{
    right: 1rem;
    opacity: 1;
    visibility: visible;
}

.add-to-cart:focus, .quick-view:focus {
    outline: none;
}

/* ---------------CUSTOM SLICK SLIDER------------------ */
.best-sell-list:hover .slick-prev, .best-sell-list:hover .slick-next {
    opacity: 1;
    visibility: visible;
}

.best-sell-list .slick-prev, .best-sell-list .slick-next {
    box-shadow: 0 0 10px rgba(0,0,0, 0.2);
    top: 40%;
}

.best-sell-list .slick-prev {
    left: -2.5rem;
}

.best-sell-list .slick-next {
    right: -2.5rem;
}

/* -----------------------------------TOP-RATE----------------------------------- */
.top-rated {
    padding: 0;
}

/* ------------------------------------SPECIAL-------------------------------------- */
.special {
    padding: 8rem 0 4rem;
}

.special-list {
    position: relative;
    z-index: 0;
}

.special-list .slick-slide {
    display: flex;
}

.special-item {
    width: 117rem;
    background-position: center;
    background-size: cover;
    padding: 6rem 7rem;
    position: relative;
    z-index: 3;
}

.special-item-1 {
    background: url(../img/special-bg-1.webp);
}

.special-item-2 {
    background: url(../img/special-bg-2.webp);
}

.special-item-3 {
    background: url(../img/special-bg-3.webp);
}

.special-item-desc {
    margin-left: 9rem;
}

.special-item-desc h4 {
    font-size: 4.5rem;
    color: #fff;
    margin-bottom: 2rem;
}

.special-item-desc .price {
    font-size: 2.8rem;
    font-weight: 300;
    color: #D6CFCC;
    margin-bottom: 1.5rem;
}

.special-item-desc .author {
    font-size: 2.4rem;
    color: #fff;  
    font-weight: 300;
    margin-bottom: 3rem;
}



/* ------------CUSTOM SLICK SLider---------- */
.special-list:hover .slick-prev, .special-list:hover .slick-next {
    opacity: 1;
    visibility: visible;
}

.special-list .slick-prev, .special-list .slick-next {
    box-shadow: 0 0 10px rgba(0,0,0, 0.2);
}

.special-list .slick-prev {
    left: 2.5rem;
}

.special-list .slick-next {
    right: 2.5rem;
}


/* -----------------------------------BOOK SHELVES-------------------------------------- */
.bookshelves {
    padding: 4rem 0;
}

.bookshelves-list {
    justify-content: space-between;
}

.bookshelves-item {
    width: 30%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.bookshelves-item h4 {
    display: inline-block;
    padding: 1rem 1.5rem;
    border: 1px solid #E1E1E1;
    margin: 0 auto 2rem;

    font-size: 2rem;
    color: #666666;

    position: relative;
}

.bookshelves-item h4::after, .bookshelves-item h4::before {
    content: "";
    width: 5rem;
    height: 1px;
    background-color: #E1E1E1;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.bookshelves-item h4::after {
    right: -6rem;
}

.bookshelves-item h4::before {
    left: -6rem;
}

.bookshelves-item ul {
    width: 100%;
}

.bookshelves-item ul li {
    width: 100%;
    padding: 1rem 3rem;
    border: 1px solid #E1E1E1;
    margin-bottom: 1rem;

    transition: all 0.3s linear;
    cursor: pointer;
}

.bookshelves-item ul li:hover {
    border-color: #1B8BCC;
}

.bookshelves-item ul li img {
    width: 6rem;
} 

.bookshelves-item-content {
    margin-left: 2rem;
}

.bookshelves-item-content h5 {
    font-size: 1.6rem;
    color: #666666;
    margin-bottom: 2rem;
}

.bookshelves-item-content p {
    font-size: 1.6rem;
    color: #1B8BCC;
}


/* ----------------------------------------------COLLECTION--------------------------------- */
.collection {
    padding: 4rem 0 20rem;
}

.collection-content {
    justify-content: space-between;
}

.collection-item {
    width: 30%;
    background-color: #F8F8F8;
    border: 1px solid #B9B9B9;
    text-align: center;
    padding: 4rem;
}

.collection-item img {
    width: 3rem;
    object-fit: cover;
    margin-bottom: 2rem;
}

.collection-item .number {
    font-size: 3.5rem;
    color: #1B8BCC;
    margin-bottom: 1.5rem;
}

.collection-item .caption {
    font-size: 1.8rem;
    font-weight: 300;
    color: #1B8BCC;
}


/* -----------------------------------------FOOTER---------------------------------- */
.footer {
    margin-top: 4rem;
    background-color: #1B8BCC;
    padding-bottom: 4rem;
}

.mailling {
    background: url(../img/mailing_bg.webp);
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 4rem;
    border: 1px solid #1B8BCC;
    border-radius: 1.5rem;
    transform: translateY(-50%);
    overflow: hidden;
}

.mailling::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(166, 171, 173, 0.9);
}

.mailling-content {
    position: relative;
    z-index: 2;
}

.mailling-content h3 {
    font-size: 2.2rem;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 2rem;
}

.form-group {
    justify-content: center;
}

.form-group input {
    width: 50%;
    padding: 1.5rem 2rem;
    font-size: 1.6rem;
    font-weight: 300;
    color: #666666;
    border-radius: 3rem;
    border: 1px solid #B9B9B9;
    margin-right: 2rem;
}

.form-group input:focus {
    outline: none;
}

.footer-content {
    align-items: baseline;
}

.footer-item {
    width: 25%;
}

.footer-item h5 {
    margin-bottom: 3rem;
    font-size: 1.8rem;
    font-weight: 300;
    color: #fff;
}

.footer-item h5 img {
    margin-right: 1rem;
}

.footer-item p, .footer-item a {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
    max-width: 88%;
}

.footer-item p {
    margin-bottom: 2rem;
}

.footer-item a {
    height: 2.5rem;
    display: inline-block;
    text-decoration: none;
    transition: all 0.3s linear;
    margin-bottom: 1rem;
    line-height: 2.5rem;
}

.footer-item a:hover {
    color: #4aa8df;
}

.footer-item a i {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #fff;
    color: #1B8BCC;
    border-radius: 50%;
    text-align: center;
    line-height: 2.5rem;
    margin-right: 2rem;
    transition: all 0.3s linear;
}

.footer-item a:hover i {
    background-color: #4aa8df;
}


/* --------------------------------------------BOOK------------------------------------*/
.book {
    padding-top: 100px;
    margin-bottom: 200px;
}

.book-content {
    justify-content: space-between;
}

.book__info {
    width: calc(75% - 15px);
}

.book__item--image {
    display: block;
    box-shadow: 0px 0px 10px #1B8BCC;
    margin-right: 30px
}

.book__item--detail {}

.book__item--detail h3 {
    font-size: 30px;
    color: #666666;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.book__item--detail .author {
    font-size: 18px;
    color: #817f7f;
    font-weight: 300;
    margin-bottom: 25px;
}

.book__item--detail .price {
    font-size: 20px;
    color: #666666;
    margin-bottom: 30px;
}

.book__item--detail .description {
    font-size: 14px;
    color: #666666;
    line-height: 28px;
    font-weight: 300;
    margin-bottom: 40px;
}

.book__item--detail .description span {
    font-weight: normal;
    color: #5f5f5f;
}

.ctrl__list {
    display: flex;
}

.ctrl__list .numeric {
    display: flex;
    align-items: flex-start;
}

.ctrl__list .numeric .numeric__button{
    border: 0;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #666666;

    font-size: 18px;
    color: #666666;
    font-weight: normal;
    text-align: center;
    line-height: 20px;

    cursor: pointer;
}

.ctrl__list .numeric .numeric__button:focus {
    outline: none;
}

.ctrl__list .numeric input {
    font-size: 18px;
    color: #666666;
    border-radius: 20px;
    border: 2px solid #666666;
    padding: 10px 15px;
    width: 79px;
    height: 40px;
    margin: 0 5px;
}

.ctrl__list .numeric input:focus {
    outline-style: none;
}

.ctrl--add-to-cart.btn {
    background-color: #1B8BCC;
    color: white;
    border: 1px solid #1B8BCC;
    box-shadow: 0 0 7px #1B8BCC;
    margin-left: 20px;
}

.ctrl--add-to-cart.btn:hover, .ctrl--add-to-cart.btn:active {
    background-color: white;
    color: #1B8BCC;
}

.social__list {
    display: flex;
    margin-top: 40px;
}

.social__item {
    display: inline-block;
    font-size: 18px;
    font-weight: 300;
    color: white;
    background-color: #1DA1F2;
    border-radius: 8px;
    padding: 12px 30px;
    margin-right: 10px;

    cursor: pointer;

    transition: all 0.4s;
}

.social__item i {
    font-size: 20px;
    padding-right: 10px;
}

.social__item:hover {
    background-color: rgba(29, 161, 242, 0.8);
}

.book__detail {
    margin-top: 100px;
    width: 100%;
}

.book__detail .title {
    background-color: #f1f1f1;
    width: 22%;
}

.book__detail, td {
    border: 1px solid #dddddd;
    border-collapse: collapse;
}

.book__detail tr td {
    padding: 20px;
    font-size: 16px;
    color: #666666;
    font-weight: 300;
}

.book__detail tr td span {
    font-weight: bold;
}

/* ---------------------BOOK-RELATED---------------- */

.book-related {
    width: calc(25% - 15px);
}

.book-related h4 {
    font-size: 24px;
    color: #666666;
    margin-bottom: 20px;
}

.book-related__item {
    margin-bottom: 30px;
}

.book-related__img {
    margin-right: 15px;
}

.book-related__img img{
    display: block;
    width: 100px;
    object-fit: cover;
    box-shadow: 0px 0px 14px 7px rgba(0, 0, 0, 0.1);
}

.book-related__info a {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    color: #666666;

    margin-bottom: 10px;

    cursor: pointer;

    transition: color linear 0.2s;
}

.book-related__info a:hover {
    color: #1B8BCC;
}

.book-related__info p {
    font-size: 18px;
    color: #1B8BCC;
}

/* -------------------------------SEARCH----------------------------- */
.search {
    margin-top: 30px;
    margin-bottom: 150px;
}

.search h3 {
    font-size: 20px;
    color: #666666;
    margin-bottom: 20px;
}

.search h3 span {
    color: #1B8BCC;
}

.search-result {
    flex-flow: row wrap;
}

.search-result .best-sell-item {
    width: calc(16.67% - 12px);
    margin-bottom: 20px;
}

/* ------------------------------LOGIN-REGISTER---------------------------- */
.login-register {
    margin: 100px 0 120px;
}

.form-container {
    max-width: 50%;
    width: 410px;
    padding: 0 15px;
    margin: auto;
    overflow: hidden;
    
    position: relative;
}

.form-login, .form-register {
    min-width: 380px;
    margin-right: 20px;

    transition: transform 0.5s linear;
}

.form-login {
   
}

.form-header {
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 25px;
}

.form-header h3 {
    font-size: 30px;
    color: #666666;
    padding-left: 10px;
}

.form-header .switch-link {
    color: #1B8BCC;
    font-size: 16px;
    padding-right: 10px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group .form__input {
    width: 100%;
    margin-right: 0;
}

.form__input:focus {
    box-shadow: 0 2px 20px 5px rgba(0,0,0, 0.1);
}

.form-group p {
    font-size: 18px;
    color: #666666;
    padding-left: 10px;
    margin-bottom: 15px;
}

.form-container .ctrl--add-to-cart.btn {
    margin: 15px;
    margin-left: 0;
    width: 100%;
}